Source: nano-video
Section: video
Priority: optional
Maintainer: Rafal <fatwildcat@gmail.com>
Build-Depends: debhelper (>= 9), autotools-dev
Standards-Version: 3.9.8
Homepage: https://github.com/rafaello7/nano-video

Package: nano-video
Architecture: arm64
Depends: ${shlibs:Depends}, ${misc:Depends}, gstreamer1.0-plugins-good
Description: Play video on NanoPi
